@page "/ContRegistros"
@using LibraryServicesWeb_AP2.Pages


@inject AuthenticationStateProvider AuthenticationStateProvider



    <style>
        body {
            background-color: #b1b1b1;
        }
    </style>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="form-group">
            <div class=" form-row">


                <div class="text-center col-md-3 col-sm-6  col-lg-3">
                    <div class="card" style="width:auto">
                        <img class="card-img-top" src="../Images/Prest.jpg" alt="Card image">
                        <div class="card-body bg-dark">
                            <p></p>
                            <a href="Prestamos" class="btn btn-warning">Ir al registro</a>
                        </div>
                    </div>
                </div>

                <div class="text-center col-md-3 col-sm-6   col-lg-3">
                    <div class="card" style="width:auto">
                        <img class="card-img-top" src="../Images/Estudiantes.jpg" alt="Card image">
                        <div class="card-body bg-dark">
                            <p></p>
                            <a href="Estudiantes" class="btn btn-warning">Ir al registro</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-3 col-sm-6   col-lg-3">
                    <div class="card" style="width:auto">
                        <img class="card-img-top" src="../Images/Libros.jpg" alt="Card image">
                        <div class="card-body bg-dark">
                            <p></p>
                            <a href="Libro" class="btn btn-warning">Ir al registro</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-3 col-sm-6   col-lg-3">
                    <div class="card" style="width:auto">
                        <img class="card-img-top" src="../Images/Cate.jpg" alt="Card image">
                        <div class="card-body bg-dark">
                            <p></p>
                            <a href="Categorias" class="btn btn-warning">Ir al registro</a>
                        </div>
                    </div>
                </div>
                <p>"    "</p>
                <div class="row justify-content-center">
                    <div class="text-center col-md-3 col-sm-6   col-lg-3">
                        <div class="card" style="width:auto">
                            <img class="card-img-top" src="../Images/Editoriales.jpg" alt="Card image">
                            <div class="card-body bg-dark">
                                <p></p>
                                <a href="REditorial" class="btn btn-warning">Ir al registro</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-md-3 col-sm-6 col-lg-3">
                        <div class="card" style="width:auto">
                            <img class="card-img-top" src="../Images/Dev.jpg" alt="Card image">
                            <div class="card-body bg-dark">
                                <p></p>
                                <a href="Prestamos" class="btn btn-warning">Ir al registro</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-md-3 col-sm-6  col-lg-3">
                        <div class="card" style="width:auto">
                            <img class="card-img-top" src="../Images/Usuarios.jpg" alt="Card image">
                            <div class="card-body bg-dark">
                                <p></p>
                                <a href="Usuarios" class="btn btn-warning">Ir al registro</a>
                            </div>
                        </div>
                    </div>

                </div>
                


            </div>


        </div>

    </div>


}




@code {

}
