@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using Blazored.Toast

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" />

<AuthorizeView>
    <div class="sidebar">
        <NavMenu />
    </div>
</AuthorizeView>




<div class="main">
    
    <div class="top-row px-4">
        <!-- BLAZOR COOKIE Auth Code (begin) -->
        <LoginControl />
        <!-- BLAZOR COOKIE Auth Code (end) -->
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
