
<div class="top-row pl-4 navbar bg-transparent" style="height:125px;">
    <AuthorizeView>
        <img src="https://us.123rf.com/450wm/tifani1/tifani11801/tifani1180100032/93016694-user-icon-vector-illustration-on-black-background.jpg?ver=6" als="Login" style=" width:140px;height:100px;">
        <a class="navbar-brand text-light justify-content-center font-weight-bold" href="">Hola, @context.User.Identity.Name!</a>
    </AuthorizeView>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class=" navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">

    <ul class="nav  flex-column  ">


        <li class="nav-item  text-white">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @using System.Web;
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        
     
        <li class="nav-item text-white">
            <NavLink class="nav-link" href="ContRegistros">
                <span class="oi oi-document" aria-hidden="true"></span> Registros
            </NavLink>
        </li>
        <li class="nav-item  text-white">
            <NavLink class="nav-link" href="ContConsulta">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Consultas
            </NavLink>
        </li>
        
    </ul>


</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
