<div class="top-row pl-4 navbar bg-dark navbar-dark">
    <a class="navbar-brand bg-dark " href="">LibraryServicesWeb_AP2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class=" navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="bg-dark">
        <ul class="nav  flex-column  ">


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Libro">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Registro Libro
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Categorias">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Registro Categorias
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Editorial">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Registro Editorial
                </NavLink>
            </li>
        </ul>
    </ul>
    
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
